<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>

  <body>
    <h1>Generate Stickers With Barcode</h1>
    <h3>Rename excel sheet without spaces and copy it to sheets directory.</h3>
    <h3>
      Rename input image without spaces and copy it to images/input directory.
    </h3>
    <h4>Default Parameters</h4>
    <p>
      xlName:prod_sp_01.xlsx <br />
      baseFile:final.jpg<br />
      outputFolder:new_sp05<br />
      qrSize:471<br />
      qrx:96<br />
      qry:991<br />
      text1x:98<br />
      text1y:1490<br />
      startRow:70000<br />
      endRow:100000<br />
      batchx:40<br />
      batchy:1700<br />
    </p>
    <form method="POST" action="/generateSticker">
      <div class="form-group row">
        <label for="baseFile" class="col-4 col-form-label"
          >Base Image File Name</label
        >
        <div class="col-8">
          <input
            id="baseFile"
            name="baseFile"
            placeholder="design1.jpg"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="qrx" class="col-4 col-form-label"
          >QR Start - X Coordinate</label
        >
        <div class="col-8">
          <input
            id="qrx"
            name="qrx"
            placeholder="123"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="qry" class="col-4 col-form-label"
          >QR Start - Y Coordinate</label
        >
        <div class="col-8">
          <input
            id="qry"
            name="qry"
            placeholder="123"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="qrSize" class="col-4 col-form-label"
          >QR Size (one side)</label
        >
        <div class="col-8">
          <input
            id="qrSize"
            name="qrSize"
            placeholder="500"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="text1x" class="col-4 col-form-label"
          >Text 1 - X Coordinate</label
        >
        <div class="col-8">
          <input
            id="text1x"
            name="text1x"
            placeholder="123"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="text1y" class="col-4 col-form-label"
          >Text 1 - X Coordinate</label
        >
        <div class="col-8">
          <input
            id="text1y"
            name="text1y"
            placeholder="123"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="batchx" class="col-4 col-form-label"
          >Batch # - X Coordinate</label
        >
        <div class="col-8">
          <input
            id="batchx"
            name="batchx"
            placeholder="123"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="batchy" class="col-4 col-form-label"
          >Batch # - Y Coordinate</label
        >
        <div class="col-8">
          <input
            id="batchy"
            name="batchy"
            placeholder="123"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="xlName" class="col-4 col-form-label"
          >Excel Sheet Name</label
        >
        <div class="col-8">
          <input
            id="xlName"
            name="xlName"
            placeholder="sheet1.xlsx"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="outputFolder" class="col-4 col-form-label"
          >Output Folder Name</label
        >
        <div class="col-8">
          <input
            id="outputFolder"
            name="outputFolder"
            placeholder="sp01_out"
            type="text"
            class="form-control"
            required="required"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="startRow" class="col-4 col-form-label">Start Row</label>
        <div class="col-8">
          <input
            id="startRow"
            name="startRow"
            placeholder="0"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="endRow" class="col-4 col-form-label">End Row</label>
        <div class="col-8">
          <input
            id="endRow"
            name="endRow"
            placeholder="10000"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-4 col-8">
          <button name="submit" type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
